:root {
    --card-bg-color: rgb(230, 230, 230);
    --main-color: rgb(58, 34, 104);
    --hover-color: rgb(189, 194, 255);
    --card-border-color: rgb(196, 196, 196);
    --text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--main-color);
}

#header-label {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 1rem;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: .5rem;
    right: 1rem;
}

#header-label.open {
    display: none;
}

#menu::before {
    content: "☰";
    color: var(--text-color);
}

#menu.open::before {
    content: "X";  
}

.navigation {
    list-style: none;
}

.navigation a {
    font-size: 1.5rem;
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}

.navigation a:hover {
    color: var(--hover-color);
    font-weight: 700;
}

.open a {
    display: block;
}

main h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem;
}

img {
    width: 90%;
    height: auto;
    margin: 1rem;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

figcaption {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

footer {
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
}

section {
    background-color: var(--card-bg-color);
    text-align: center;
    border: solid 1px var(--card-border-color);
    padding-top: 1rem;
}

h3 {
    padding: 1rem;
}

.label {
    color: var(--main-color);
}