:root {
    --main-bg: #590700;
    --text: #fff;
    --section-bg: #dedede;
}

* {
    font-family: "Google Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

h1 {
    background-color: var(--main-bg);
    color: var(--text);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

form {
    border-radius: .3rem;
    background-color: var(--section-bg);
    padding: 1rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
}

.margin-title {
    margin-top: 1.5rem;
}

input[type=date],
select,
textarea,
input[type=text]
 {
    display: block;
    padding: .5rem 0 .5rem .5rem;
    width: 98%;
    border: none;
    margin-top: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 1rem;
}

select {
    width: 100%;
}

textarea {
    height: 100px;
    padding: 0;
    width: 100%;
}

input[type="submit"] {
    border: .5px gray solid;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

input[type=radio] {
    height: 1.5rem;
}

input[type=checkbox] {
    width: 1rem;
    height: 1rem;
}

.rating {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: auto;
}

.rating-container {
    display: flex;
}

footer {
    background: var(--main-bg);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

footer p {
    color: var(--text);
    padding: 0 2rem;
    text-align: center;
    display: block;
}